<!--Updating Docx-->
<div class="content">
    <div class="title">
        <h1>Meals</h1>
    </div>
    <div class="body">
        <p>To Volunteer and sign up for meals:</p>
        <br>
        <i>Volunteer Resources Manager</i>
        <p><b>Mary Friend</b> - <a href = "#">mfriend@rmhcin.org</a></p>
        <p>Phone: (317) 267-0605, ext. 225<br>435 Limestone Street<br>
            Indianapolis, IN 46202</p>
        <br>
        <br>
        <b>To see the full staff directory, <a href = "http://www.rmhccin.org/contact/">click here.</a></b>
    </div>
    	<div id="meal" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p>
                        It is comforting for families staying at the Ronald McDonald House to come ìhomeî to a hot home-cooked meal after a long day at the hospital with their critically ill child. Groups can
                        choose to serve breakfast or dinner for about 50 people.
                    </p>
                    <p>
                        Your group is asked to supply all the food, paper products, plastic ware, drinks and cups. If you would like more information about this opportunity, please click on the following
                        link access our online meal calendar to schedule a meal.
                    </p>
                    <div class="panel-footer">
                        <a href="http://www.takethemameal.com/meals.php?t=DJUG8144" title="Schedule Meal" target="blank">Schedule a meal</a>
                    </div>
                </div>
            </div>

</div>

